{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['globalOneExecuteBtn', '1회 실행'], ['globalImmediatelyExecuteBtn', '즉시 실행']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}
  
<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('basic', '기본', true) }}
    {{ macros.m_tab_head('filename', '파일명', false) }}
    {{ macros.m_tab_head('folders', '폴더구조', false) }}
    {{ macros.m_tab_head('auto', '자동 & 기타', false) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting' name='setting'>
  <div class="tab-content mb-4" id="nav-tabContent">
  {{ macros.m_tab_content_start('basic', true) }}
    {{ macros.setting_input_textarea('western_download_path', '다운로드 폴더', value=arg['western_download_path'], row='3', desc=['Western 영상을 다운받은 폴더. 필수', '2개 이상일 경우 구분자 Enter, #으로 시작하여 주석처리']) }}

    {{ macros.setting_input_text('western_temp_path', '처리 실패시 이동 경로', value=arg['western_temp_path'], desc=['처리 실패시 영상 파일이 이동할 경로입니다. 필수']) }}
    {{ macros.setting_input_text('western_remove_path', '중복인 경우 이동 경로', value=arg['western_remove_path'], desc=['파일명이나 파일크기 기준 중복인 경우 이동할 경로입니다.', '빈값이거나, 폴더를 지정해도 정상 경로 이외의 중복 파일은 삭제합니다.']) }}
    {{ macros.m_hr() }}

    {{ macros.m_hr() }}
    {{ macros.info_text('preprocess_1', '파일 전처리 옵션', value='', desc=['다운로드 폴더의 depth=1인 자식들을 탐색하여 유효한 파일이 아니거나 그것을 포함하지 않은 폴더를 삭제.', '유효한 파일은 아래 조건에 의해 결정.']) }}
    {{ macros.setting_input_int('western_min_size', '최소 크기', value=arg['western_min_size'], placeholder='300', min='0', desc=['이보다 작은 파일은 삭제 대상. 단위: MiB']) }}
    {{ macros.setting_input_int('western_max_age', '최대 기간', value=arg['western_max_age'], placeholder='300', min='0', desc=['이보다 오래된 파일/폴더는 삭제 대상. 단위: 초']) }}

    {{ macros.setting_input_textarea('western_filename_cleanup_list', '품번 파싱 제외 키워드', value=arg['western_filename_cleanup_list'], row='3', desc=['품번 파싱시 파일명에서 제외할 키워드 목록입니다. 구분자: 바(|)']) }}

    {{ macros.setting_input_textarea('western_filename_not_allowed_list', '파일명 예외 키워드', desc=['파일명에 위와 같은 문자열이 포함된 경우 [FILENAME NOT ALLOWED] 폴더 아래에 분류', '구분자: 파이프( | ) 또는 줄바꿈(Enter)', '정규 표현식 사용: 줄의 시작을 regex|| 로 작성 (예: regex||.*-pt\\d+.*)'], value=arg['western_filename_not_allowed_list'], row='5') }}

    {{ macros.setting_input_int('western_delay_per_file', '파일당 처리 딜레이', value=arg['western_delay_per_file'], placeholder='0', min='0', desc=['개별 파일을 처리하기 전 대기하는 시간입니다.', '메타데이터 사이트의 과도한 연속 호출을 방지합니다. 단위: 초(second)']) }}

    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('western_scan_with_plex_mate', 'PLEX MATE 스캔', value=arg['western_scan_with_plex_mate'], desc=['On: 실패 경로 이외의 이동에 성공하면 PLEX MATE에 스캔 요청을 보냅니다.', '동일 FF 내에 설치/설정된 PLEX MATE만 해당됩니다.']) }}

    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('western_dry_run', 'DRY RUN 모드', value=arg['western_dry_run'], desc=['On: 상단의 "1회 실행/즉시 실행" 버튼을 눌렀을 때 Dry Run 모드로 실행됩니다.', '실제 파일 이동이나 DB 저장 없이, 처리 과정을 로그로만 확인합니다.']) }}

  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('filename', false) }}
    {{ macros.setting_checkbox('western_rename_from_folder', '서브 폴더명으로 파일명 변경', value=arg['western_rename_from_folder'], desc=['On: 다운로드 폴더 내의 하위 폴더에 영상 파일이 단 1개만 존재할 경우, 영상 파일의 이름을 해당 폴더의 이름으로 자동 변경합니다.', '서양 영상 다운로드 시 파일명이 축약되어 있는 문제를 해결하고 메타데이터 검색 성공률을 높이는 데 유용합니다.', '예: FolderName/short_name.mp4 -> FolderName/FolderName.mp4']) }}
    
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('western_companion_enable', '동반자막 처리', value=arg['western_companion_enable'], desc=['On: 영상과 같은 이름의 자막 파일이 존재하면 파일명 변경 시 영상과 이름을 동기화하고 함께 처리합니다.']) }}
    
    <div id="western_companion_enable_div" class="collapse">
      {{ macros.setting_checkbox('western_companion_add_ko', '언어코드(.ko) 추가', value=arg['western_companion_add_ko'], desc=['On: 자막 파일 끝에 한국어 언어코드(.ko)를 자동으로 추가합니다.']) }}
      {{ macros.setting_checkbox('western_companion_detect_kor', '한국어 자막 판별', value=arg['western_companion_detect_kor'], desc=['On: 파일 내용을 분석하여 한국어가 없는 경우 언어코드를 붙이지 않습니다.', '주의: 서식이 많은 ass 자막 등은 오인식 확률이 높습니다. chardet 라이브러리가 필요합니다.']) }}
    </div>

  {{ macros.m_tab_content_end() }}

  {{ macros.m_tab_content_start('folders', false) }}
    {{ macros.setting_input_text('western_folder_format', '기본 폴더 구조', value=arg['western_folder_format'], desc=['예) {studio}/{title} : 제작사/제목 폴더 생성 후 이동', '예) {studio}/{filename} : 제작사/원본파일명 폴더 생성 후 이동', '사용 가능 변수: {studio_1}, {studio}, {title_1}, {title}, {filename_1}, {filename}, {actor_1}, {actor}, {year}']) }}

    {{ macros.m_hr() }}
    {{ macros.setting_radio_with_value('western_use_meta', '메타 검색 사용', [['not_using', '사용안함'], ['using', '사용']], value=arg['western_use_meta'], desc=['메타 검색이 가능한 레이블을 매칭 시도합니다.']) }}

    <div id="western_use_meta_on_div" class="collapse">
      {{ macros.setting_input_text('western_meta_path', '매칭 성공 시 이동 경로', value=arg['western_meta_path'], desc=['메타 검색을 성공한 파일이 이동할 경로입니다.']) }}

      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('western_movie_type_use_separate_path', 'Movie 타입 별도 경로 처리', value=arg['western_movie_type_use_separate_path'], desc=['On: 메타데이터에서 content_type이 "movie"로 식별된 영상을 아래의 별도 경로와 폴더 구조로 분리합니다.', 'Off: Scene과 동일하게 기본 이동 경로와 기본 폴더 구조를 따릅니다.']) }}
      <div id="western_movie_type_use_separate_path_div" class="collapse">
        {{ macros.setting_input_text('western_movie_type_path', 'Movie 타입 이동 경로', value=arg['western_movie_type_path'], desc=['Movie 타입 영상이 이동할 기준 경로입니다.']) }}
        {{ macros.setting_input_text('western_movie_type_folder_format', 'Movie 타입 폴더 구조', value=arg['western_movie_type_folder_format'], desc=['예) {studio}/{title} ({year}) : 풀타임 영화 관리에 적합한 포맷입니다.']) }}
      </div>
      
      {{ macros.setting_input_int('western_meta_min_score', '매칭 커트라인 점수', value=arg['western_meta_min_score'], min='0', max='100', placeholder='80', desc=['이 점수 이상인 검색 결과만 매칭 성공으로 간주합니다.', '서양 영상은 유연한 점수 조절이 필요하며, 너무 낮추면 오탐 가능성이 높아집니다.']) }}

      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('western_meta_no_move', '메타 없는 영상 이동', value=arg['western_meta_no_move'], desc=['On: 메타 검색에 실패한 파일을 아래 경로로 이동시킵니다.', 'Off: 이동시키지 않고 원본 위치에 둡니다. (다음 스캔 시 다시 검색)']) }}
      
      <div id="western_meta_no_move_div" class="collapse">
        {{ macros.setting_input_text_and_buttons('western_meta_no_path', '매칭 실패 시 이동 경로', [['western_meta_no_path_start_btn', '즉시 처리 시도']], value=arg['western_meta_no_path'], desc=['메타 검색을 시도했으나 실패한 파일이 이동할 경로입니다.', '비워두면 \'처리 실패시 이동 경로\' 아래 [NO META] 폴더로 이동합니다.']) }}

        {{ macros.setting_checkbox('western_meta_no_scan_include', '매칭 실패 파일 이동 후 PLEX 스캔', value=arg['western_meta_no_scan_include'], desc=['On: 메타 매칭에 실패하여 [실패 경로]로 파일이 이동되었을 때도, 해당 폴더에 대해 PLEX MATE 스캔 요청을 보냅니다.', 'Off: 메타 매칭에 실패한 영상은 PLEX 라이브러리에 바로 추가되지 않도록 스캔 요청을 생략합니다. (기본값)']) }}

        {{ macros.setting_input_int('western_meta_no_retry_every', '매칭 실패 영상 재시도 주기 (일)', value=arg['western_meta_no_retry_every'], min='0', placeholder='0', desc='매칭 실패로 분류된 영상을 주기적으로 재시도합니다. 0이면 재시도 안 함. 주기: 일') }}
      </div>

      {{ macros.m_hr() }}
      {{ macros.info_text('featurette_info', '부가 영상(Extras) 처리', value='', desc=['파일명 끝에 아래 정규식 패턴이 매칭되는 경우, 이를 부가 영상으로 간주합니다.', '메타 검색 시 해당 키워드를 제거하여 본 영화의 매칭 성공률을 높이며, 파일 이동 시 본 영화 폴더 하위의 "Featurettes" 폴더로 자동 분류됩니다.']) }}
      
      {{ macros.setting_input_textarea('western_featurette_regex', '부가 영상 인식 패턴 (정규식)', value=arg['western_featurette_regex'], row='3', desc=['다중 라인(멀티라인) 입력이 가능하며, 대소문자는 구분하지 않습니다.']) }}
      
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('western_make_yaml', 'YAML 파일 생성', value=arg['western_make_yaml'], desc=['On: 메타가 있을 경우 YAML 파일을 생성합니다.', '품번 폴더({code} 또는 {code_lower}) 생성시 movie.yaml로 생성됩니다(아니면 품번.yaml).']) }}
      {{ macros.setting_checkbox('western_make_nfo', 'NFO 파일 생성', value=arg['western_make_nfo'], desc=['YAML과 동일']) }}
      {{ macros.setting_checkbox('western_make_json', 'JSON 파일 생성', value=arg['western_make_json'], desc=['폴더 포맷에 관계없이 품번.json으로 생성됩니다.']) }}
      {{ macros.setting_checkbox('western_make_image', '이미지 파일 생성', value=arg['western_make_image'], desc=None) }}
      {{ macros.setting_checkbox('western_make_trailer', '트레일러 파일 생성', value=arg['western_make_trailer'], desc=None) }}
      {{ macros.setting_checkbox('western_make_overwrite', '부가파일 덮어쓰기', value=arg['western_make_overwrite'], desc=['On: 이미 부가 파일(YAML, NFO, 이미지 등)이 존재하더라도 새로 생성하여 덮어씁니다.', 'Off: 파일이 이미 존재하는 경우 생성을 건너뜁니다. (JSON은 항상 갱신)']) }}
      {{ macros.setting_checkbox('western_include_media_path', '부가파일 내 미디어 경로 포함', value=arg['western_include_media_path'], desc=['JSON/NFO/YAML 내에 이미지/트레일러 URL 포함 여부']) }}
    </div>

    {{ macros.setting_input_text('western_target_path', '기본 이동 경로', value=arg['western_target_path'], desc=['위 조건에 해당하지 않고, 품번이 정상적으로 파싱된 파일이 이동할 기본 경로입니다.']) }}

    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('western_companion_use_separate_path', '동반자막 영상 별도 경로 처리', value=arg['western_companion_use_separate_path'], desc=['On: 자막이 포함된 영상은 아래에 지정된 별도 경로로 분리합니다.', 'Off: 자막이 있더라도 메타 검색 결과에 따라 일반 영상과 동일한 경로로 이동합니다.']) }}
    <div id="western_companion_use_separate_path_div" class="collapse">
      {{ macros.setting_input_text('western_companion_path', '동반자막 기본 경로', value=arg['western_companion_path'], desc=['메타 매칭 성공 여부와 무관하게 자막 포함 영상이 이동할 경로입니다.', '폴더 구조는 전역 기본 폴더 구조를 따릅니다.']) }}
      {{ macros.setting_input_text('western_companion_meta_fail_path', '동반자막 메타 실패 경로', value=arg['western_companion_meta_fail_path'], desc=['(예외옵션) 메타 매칭에 실패한 동반자막 영상만 따로 분리할 경로입니다.', '비워두면 위 기본 경로를 따릅니다.']) }}
    </div>

  {{ macros.m_tab_content_end() }}  

  {{ macros.m_tab_content_start('auto', false) }}
    {{ macros.global_setting_scheduler_button(arg['is_include'], arg['is_running']) }}
    {{ macros.setting_input_text('western_interval', '스케쥴링 실행 정보', value=arg['western_interval'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('western_auto_start', '시작시 자동실행', value=arg['western_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
  
    {{ macros.m_hr() }}

    {{ macros.setting_input_text_and_buttons('western_db_delete_day', 'DB 삭제 기간', [['globalDbDeleteDayBtn', '기간 적용 삭제', [['tag_id','western_db_delete_day']]], ['globalDbDeleteBtn', '전체 삭제']], value=arg['western_db_delete_day'], col='6') }} 
    {{ macros.setting_checkbox('western_db_auto_delete', 'DB 자동 삭제', value=arg['western_db_auto_delete'], desc=['On : 기간 적용하여 DB를 자동 삭제합니다.']) }}
  {{ macros.m_tab_content_end() }} 

  </div><!--tab-content-->
</form>

<script type="text/javascript">
$(document).ready(function(){
  use_collapse("western_include_original_filename");
  use_meta("{{arg['western_use_meta']}}");
  use_collapse("western_meta_no_move");
  use_collapse("western_companion_enable");
  use_collapse("western_companion_use_separate_path");
  use_collapse("western_movie_type_use_separate_path");
});

$('#western_companion_enable').change(function() {
  use_collapse('western_companion_enable');
});
$('#western_companion_use_separate_path').change(function() {
  use_collapse('western_companion_use_separate_path');
});

$('#western_movie_type_use_separate_path').change(function() {
  use_collapse('western_movie_type_use_separate_path');
});

$('input[type=radio][name=western_use_meta]').change(function() {
  use_meta(this.value);
});

function use_meta(value) {
  if (value == 'not_using') {
    $('#western_use_meta_on_div').collapse('hide');
    $('#western_use_meta_off_div').collapse('show');
  } else {
    $('#western_use_meta_on_div').collapse('show');
    $('#western_use_meta_off_div').collapse('hide');
  }
}

$('#western_meta_no_move').change(function() {
  use_collapse('western_meta_no_move');
});


$("body").on('click', '#western_meta_no_path_start_btn', function(e){
  e.preventDefault();
  globalSendCommand('meta_no_path_start', '', '');
});

</script>    
{% endblock %}
